@font-face {
    font-family: 'Gilroy Light';
    src: url('../fonts/Gilroy-Light.ttf') format('truetype'),
    url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

* {
    box-sizing: border-box;
}

.gilroy-f {
    font-family: 'Gilroy Light';  
    font-weight: 300;
}

body {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: black;
}

/* Header */

.main-header {
    padding: 26px 200px 0 200px;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.header-container {
    max-width: 1520px;
    max-height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.logo img {
    max-width: 92px;
    display: block;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.main-nav ul li a {
    color: #fff; 
    text-decoration: none;

    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 23.12px;
    text-transform: uppercase;
}

.language-switch {
    font-size: 14px;
    line-height: 20.23px;
}
.language-switch a {
    color:grey; 
    text-decoration: none; 
}
.language-switch a.active {
    color: #fff; 
}

/*  Slider */

.slider-container {
    height: 100vh;
    width: 100%;
    display: flex;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide.active {
    opacity: 1;
}

.slider-controls {
    position: absolute;
    right: 200px;
    bottom: 0;
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(5px); 

    max-width: 262px;
    max-height: 69px;

    display: flex;
    justify-content: center;  
}

.prev, .next {
    cursor: pointer;
    color: #fff;
    padding: 35px;
    display: flex;
    align-items: center;
    width: 100%;
}

/* Main-content */

.content-wrapper {
    max-width: 1520px;
    margin: 0 auto;
}

.article {
    margin: 100px 0; 
}

.block-name {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 52.02px;
}

/* Portfolio */

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-bottom: 25px;
}

.portfolio-item {
    flex: 0 0 calc(33.333% - 20px);
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.portfolio-item h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 10px;
}

.portfolio-item span {
    color:grey;
}

.portfolio-item p {
    font-size: 16px;
    color:grey;
}

.show-more {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: rgba(39, 39, 39, 1);
    cursor: pointer;
    font-size: 20px;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
}

/* Video */

.video-items {
    display: flex;
}

.video-info {
    margin-left: 30px;
    align-self: end;
    line-height: 26px;
    font-size: 20px;
}

.services-container {
    display: flex;
}

.service {
    flex: 1;
    width: 408px;
    height: 331px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.service:not(:last-child) {
    margin-right: 29px;
}

.service h2 {
    font-size: 28px;
    line-height: 40.46px;
    min-height: 70px;
    flex: 1;
    margin-bottom: 30px;
}

.service-info {
    font-size: 20px;
    line-height: 26px;
    flex: 1;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.services-button {
    flex: 1;
    margin-top: 70px;
    display: block;
    border: none;
    text-align: left;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: rgba(39, 39, 39, 1);
    cursor: pointer;
    font-size: 20px;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
}

.buro-items {
    display: flex;
    gap:30px;
}

.creators {
    display: flex;
    gap: 30px;
}

.creator img {
    margin-bottom: 30px;
}

.creator h2 {
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 40.46px;
}

.creator p {
    line-height: 26px;
    font-size: 20px;
}

.buro-info {
    line-height: 26px;
    font-size: 20px;
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 116px;
}

.buro-button {
    display: block;
    border: none;
    text-align: left;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: rgba(39, 39, 39, 1);
    cursor: pointer;
    font-size: 16px;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
}


.furniture-info {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 60px;
    margin-bottom: 50px;
    line-height: 26px;
    font-size: 20px;
}

.furniture-1 {
    width: 700px;
}

.furniture-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.furniture-items {
    display: flex;
    flex-wrap: wrap;
}

.furniture {
    flex: 0 0 33%;
    max-width: 487px;
}

.furniture img {
    width: 100%;
}

.furn {
    margin-bottom: 30px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 100px 80px 100px 100px;
    background-color: black;
}
.footer-nav {
    display: flex;
}

.footer-logo img{
    width: 116px;
}

.footer-nav ul{
    margin-left: 70px;
    list-style-type: none;
    display: flex;
    gap: 65px;
}

.footer-nav ul li {
    margin-right: 20px;
}

.footer-nav ul li a {
    color:white;
    text-decoration: none;
    font-size: 28px;
    line-height: 40.46px;
    text-transform: uppercase;
}

.social-links {
    display: flex;
    gap:17px;
}

.social-links-always {
    position: fixed;
    bottom: 150px;
    right: 5px; 
    gap:16px;
    flex-direction: column;
    display: none;
    z-index: 1; 
}

.social-links-always.show {
    display: flex;
}

